@model March23.Models.Homeviewmodel
<html>
<head>
    <title></title>
</head>
<body>
    <a class="btn btn-primary" style="margin-top:25px" href="/home/add">Add Car</a>
   <br />
    <br />
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th><form>
                <button>Year<span class="@(Model.asc ? "glyphicon glyphicon-arrow-down": "glyphicon glyphicon-arrow-up")"></span></button>
                <input type="hidden" value="@(Model.asc ? "false":"true")" name="asc" />
                </form></th>
            <th>Price</th>
            <th>Car Type</th>
            <th>Leather Seats</th>
        </tr>
        @foreach (Cars c in Model.cars)
        {
            <tr>
                <td>@c.Make</td>
                <td>@c.Model</td>
                <td>@c.Year</td>
                <td>@c.Price</td>
                <td>@c.Cartype</td>
                <td class="@(c.HasLeatherSeats ? "glyphicon glyphicon-ok":"glyphicon glyphicon-remove")"></td>
            </tr>
        }
    </table>

</body>
</html>

